body{
  background-color: #FFFF;
}
.app{
  text-align: center;
  max-width: 1080px;
  margin:40px auto;
}
.input-group{
  display: flex;
  flex-direction: column;
  max-width: 600px;
  margin:auto;
}
.input-group input{
  padding:25px;
}

.btn{
  background-color: #8A4893;
  color:#FFFF;
  margin-top: 20px;
  box-shadow: none;
  border:none;
  width: 400px;
  padding:15px;
  cursor: pointer;
  border-radius: 15px;
  font-size: 20px;
}

.list-sort{
  width: 480px;
  margin:auto;
}

.list-container{
  display: flex;
  width: 400px;
  padding:40px;
}

.list-container__right{
  flex:1;
}
.list-container__left{
  flex:1;
  padding:10px;
}
.list-item{
  display:flex;
  align-items: center;
  background-color: #fff;
  padding:0px 20px;
  margin-top:15px;
  cursor:move;
  transition: all .2s ease-in-out;
  width: 600px;

}
.list-item:hover{
  scale:1.01;

}
.list-item i{
  margin-right:20px;
  font-size: 30px;
}
h1{
  font-size: 45px;
}

.container-sort__wrapper{
  display:flex;
  justify-content: center;
}
.container-sort__column {
  flex:1;
}

.container-sort__items {
 min-height: 200px;
}